<ion-header>
  
  <ion-toolbar background color="danger" >
    
    <ion-avatar slot="end" >
      <img src="/assets/zero-two-ok.gif" (click)="openMenu()">
    </ion-avatar>
  
  <ion-title>TheRisingOfTheShield</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>


<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-1</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>

<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-2 </ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>

<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-3</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>

<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-4</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>

<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-5</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>

<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-6</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>


<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-7</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>


<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-8</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>


<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-9</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>


<ion-card background color="secondary" class="ion-padding">
  <ion-card-header>
    
    <ion-card-title>The Rising Of The Shield Hero</ion-card-title>
    <ion-card-subtitle>CAP-10</ion-card-subtitle>
  </ion-card-header>
  <img src="/assets/the-rising-of-the-shield-hero.jpg" class="ion-padding" routerLink="/inicio">
  
</ion-card>


</ion-content>
