<ion-header background color="danger" class="ion-no-border">
    <ion-toolbar background color="danger" >
      
        <ion-avatar slot="end"  >
          <img src="/assets/zero-two-ok.gif" (click)="openMenu()">
        </ion-avatar>
      
    
      <ion-buttons   >
        <ion-title  class="ion-padding">Novedades</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content background color="black">
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button>

      <ion-icon name="add-outline"></ion-icon>

    </ion-fab-button>



    <ion-fab-list side="top">

      <ion-fab-button color="facebook" href="facebook.com"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>

      <ion-fab-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>

      <ion-fab-button color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>

    </ion-fab-list>



    <ion-fab-list side="start">

      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>

      <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>

      <ion-fab-button><ion-icon name="logo-github"></ion-icon></ion-fab-button>

    </ion-fab-list>



  </ion-fab>
  <ion-list  class="ion-padding">
    <ion-item background color="secondary"  >
      <ion-avatar slot="start">
        <img src="/assets/hero.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el segundo capitulo the rising of the shield hero
      </ion-card-content>
    </ion-item>

    <ion-item  background color="tertiary" >
      <ion-avatar slot="end" >
        <img src="/assets/04773fa5d781ca725a4ac602596acc78.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el segundo capitulo de Himouto Umaru-chan
      </ion-card-content>
    </ion-item>

    <ion-item background color="danger">
      <ion-avatar slot="start">
        <img src="/assets/darling.jpg">
      </ion-avatar>
      <ion-card-content class="ion-padding">
        Llego el segundo capitulo de darling in the franxx
      </ion-card-content>
    </ion-item>

    <ion-item background color="success">
      <ion-avatar slot="end" >
        <img src="/assets/ReZeroPortada.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el segundo capitulo de Re Zero
      </ion-card-content>
    </ion-item>


    <ion-item background color="secondary"  >
      <ion-avatar slot="start">
        <img src="/assets/04773fa5d781ca725a4ac602596acc78.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el primer capitulo de Himouto Umaru-chan
      </ion-card-content>
    </ion-item>

    <ion-item  background color="tertiary" >
      <ion-avatar slot="end" >
        <img src="/assets/hero.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el primer capitulo the rising of the shield hero
      </ion-card-content>
    </ion-item>

    <ion-item background color="danger">
      <ion-avatar slot="start">
        <img src="/assets/ReZeroPortada.jpg">
      </ion-avatar>
      <ion-card-content class="ion-padding">
        Llego el primer capitulo de Re Zero
      </ion-card-content>
    </ion-item>

    <ion-item background color="success">
      <ion-avatar slot="end" >
        <img src="/assets/darling.jpg">
      </ion-avatar>
      <ion-card-content>
        Llego el primer capitulo de darling in the franxx
      </ion-card-content>
    </ion-item>


    
  </ion-list>
</ion-content>
  
 
