<ion-header>
  
    <ion-toolbar background color="danger" >
      
      <ion-avatar slot="end" >
        <img src="/assets/zero-two-ok.gif" (click)="openMenu()">
      </ion-avatar>
    
    <ion-title>Articulos Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-searchbar color="danger"></ion-searchbar>
  <ion-card background color="danger" class="ion-padding">
    <ion-card-header>
      
      
    </ion-card-header>
    <img src="/assets/tazaumaru.jpg" class="ion-padding" routerLink="/inicio">
    <ion-card-title >Himouto Umaru-chan</ion-card-title>
      <ion-card-subtitle>$20.000</ion-card-subtitle>
      <ion-button background color="danger" expand="block" shape="round" routerLink="/inicio">
        <ion-icon slot="start" name="star"></ion-icon>
        Comprar
      </ion-button>
      <ion-button background color="danger" expand="block" shape="round" routerLink="/inicio">
        Carrito
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
  </ion-card>

  <ion-card background color="tertiary" class="ion-padding">
    <ion-card-header>
      
      
    </ion-card-header>
    <img src="/assets/tazarezero.jpg" class="ion-padding" routerLink="/inicio">
    <ion-card-title >Re zero</ion-card-title>
      <ion-card-subtitle>$20.000</ion-card-subtitle>
      <ion-button background color="tertiary" expand="block" shape="round" routerLink="/inicio">
        <ion-icon slot="start" name="star"></ion-icon>
        Comprar
      </ion-button>
      <ion-button background color="tertiary" expand="block" shape="round" routerLink="/inicio">
        Carrito
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
  </ion-card>

  <ion-card background color="secondary" class="ion-padding">
    <ion-card-header>
      
      
    </ion-card-header>
    <img src="/assets/tazaheroescudo.jpg" class="ion-padding" routerLink="/inicio" >
    <ion-card-title >Himouto Umaru-chan</ion-card-title>
      <ion-card-subtitle>$20.000</ion-card-subtitle>
      <ion-button background color="secondary" expand="block" shape="round" routerLink="/inicio">
        <ion-icon slot="start" name="star"></ion-icon>
        Comprar
      </ion-button>
      <ion-button background color="secondary" expand="block" shape="round" routerLink="/inicio">
        Carrito
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
  </ion-card>
  
  
</ion-content>
